*.o
*.lo
*~
*.la
*.pc
*.tgz
*.gz
.dirstamp

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
stamp-h1
INSTALL

src/com.intel.media-service-upnp.service
media-service-upnp
media-service-upnp.conf
dms-info
mediaconsole.pyc
valgrind-ubuntu-11.10.supp

